@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}